In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
A = [1,2,3,4]
B = [5,6,7,8]
C = [9,0,1,2]
D = [3,4,5,6]
E = [7,8,9,0]

In [7]:
df = pd.DataFrame([A,B,C,D,E],['a','b','c','d','e'],['W','X','Y','Z'])

In [8]:
df

   W  X  Y  Z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0

In [10]:
print(A)

[1, 2, 3, 4]